@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


header {
    background-color: rgb(147, 221, 203);
    height: 25vh; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Philosopher";
    font-size: 40px;
    
    padding: 5px;
}


.menu {
    height: 5vh;

    background-color: rgb(147, 221, 203, 0.4);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
