@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(19, 20, 20);

    max-width: 1000px;
    margin: auto;
}

header, main, footer {
    display: flex;
    
    align-items: center;
    justify-content: center;
}

header {
   height: 15vh;

   justify-content: space-between;
}

.links {
    text-decoration: none;

    color: rgb(212, 211, 211);
}

.links:hover {
    color: #30eb9d;
}

#menu {
    font-size: 20px;
    font-weight: bold;
}

main {
    height: 75vh;
    width: 100%;
    max-width: 800px;

    flex-direction: column;

    margin: auto;

    text-align: center;
    color: rgb(212, 211, 211);
}

.img {
    width: 200px;
    height: 200px; 
}

#foto {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: solid 2px #30eb9d;
}

h1 {
    margin-top: 32px;
    color: #30eb9d;
}

h4 {
    margin-top: 8px;
    margin-bottom: 22px;
}

p {
    max-width: 500px;
    line-height: 25px;
}

footer {
    height: 10vh;
}

#social {
    margin: 0 10px;
}